<h2>Add new contact :</h2>
<div>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
    matInput
    #newUserName
    name="newUserNameInput"
    type="text" />
  </mat-form-field>
  <button
    mat-button
    (click)="addNewUser(newUserName.value)">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="contact-header">
  <p>Your contacts :
    <mat-slide-toggle #onlyFavourite change="let onlyFavourite=$event.checked">Only favourites </mat-slide-toggle>
  </p>
</div>

<br/>

<div
  class="contact-element-list"
  *ngFor="let contact of contacts; let i = index"
  (click)="toggleFavourite(i)">
  <mat-card
    class="contact-card"
    *ngIf="!onlyFavourite.checked || onlyFavourite.checked==contact.isFavourite">
    <mat-card-header class="contact-card-header">
      <div mat-card-avatar class="default-contact-image"></div>
      <mat-card-title>{{contact.name}}</mat-card-title>
      <mat-icon *ngIf="contact.isFavourite">favorite</mat-icon>
      <mat-icon *ngIf="!contact.isFavourite">favorite_outline</mat-icon>
    </mat-card-header>
  </mat-card>
</div>
