<h2>Add new contact :</h2>
<div>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
    matInput
    #newUserName
    name="newUserNameInput"
    type="text" />
  </mat-form-field>
  <button
    mat-button
    (click)="addNewUser(newUserName.value)"
    value="toto">
    <mat-icon>add</mat-icon>
  </button>
</div>

<h2>Your contacts :</h2>
<div
  class="contactRowList"
  *ngFor="let contact of contacts">
  <mat-card class="contact-card">
    <mat-card-header>
      <div mat-card-avatar class="default-contact-image"></div>
      <mat-card-title class="contact-card-name">{{contact.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="contact-card-actions">
      <mat-checkbox>Favourite</mat-checkbox>
    </mat-card-actions>
  </mat-card>
</div>
